/* tiny media */
/* mobile first standard css for all media without media query */
/* without mixin definition up to  max-width: 529px */

/* small media query */
@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/* medium media query */
@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/* large media query */
@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/* add blank content after to clear floating of the parent elment to float children after */
@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
