/* tiny media */
/* mobile first standard css for all media without media query */
/* without mixin definition up to  max-width: 529px */

/* small media query */
@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/* medium media query */
@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/* large media query */
@define-mixin atLarge {
	@media (min-width: 1010px) {
		@mixin-content;		/*replaced by target css*/
	}
}

/*
.class::after > clear floating elements.
Clear floating of children div/elements if they use "float: left;" property, and therefore are taken out of the
normal flow of the page. Hence, the parent div/element is not aware of its children, which disrupts the layout.
Therefore, add a clear-fix ::after the children div/elements to clear floating before closing the parent div/element.
*/
@define-mixin clearfix {
	&::after {
		content: "";	/*add empty element*/
		clear: both;	/*clear floating both, the right and the left element*/
		display: table;	/*extra browser support*/
	}
}
