/*
BEM Block
Top Large Hero Section
 */
.large-hero {
	border-bottom: 10px solid $mainBlue;
	position: relative;	/*relative to its normal position*/

	&__image {
		/*default inline - causing a small gap between the image and the border-bottom,
		as inline causing some space for the bottom part of the text*/
		display: block; /*causing the element to behave as a div*/
	}

	&__text-content {
		position: absolute;	/*absolute to its ancestor div (.large-hero)*/
		padding-top: 88px;

		/*center vertically*/
		top: 50%;
		transform: translateY(-50%);

		/*center text horizontally*/
		left: 0;
		width: 100%;
		text-align: center;

		@mixin atMedium{
			padding-top: 50px;
		}
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		/*rem: font-size relative to to the page's root <html>-element font size, which is 16px in most cases.*/
		font-size: 2rem;

		@mixin atSmall {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

		@mixin atSmall {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: 100;
		/*shadow: offset 2px/2px; blur 0; color black/opacity 10%*/
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		/*limit width of description text to:
		 max-width: 480px; > convert: 480px/16=30rem)*/
		max-width: 30rem;
		/*center description text horizontally*/
		margin-left: auto;
		margin-right: auto;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
}
