/*
Page Section BEM block
Standardized styles globally applied to all sections of the page.
 */
.page-section {
	/* top & bottom padding for tiny screens and above (=all) */
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	/* .page-section--no-b-padding-until-medium */
	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}

	/* .page-section--no-b-padding-until-large */
	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}

	/* .page-section--blue */
	&--blue {
		background-color: $mainBlue;
		color: #FFF;
	}

	/* .page-section--testimonials */
	&--testimonials {
		background-color: $lightGrey;

		@mixin atLarge {
			/*add background image to large screens*/
			background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
			background-size: cover;	/*shrink or stretch the image to fully cover the containing div*/
		}
	}
}
