/*
Primary Navigation BEM Block
*/
.primary-nav {
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	/* .primary-nav--pull-right */
	&--pull-right {
		@mixin atMedium {
			float: right; /*float the navigation to the right, next to the button*/
		}
	}

	/* .primary-nav ul */
	/* target any unordered list (ul) within .primary-nav div container */
	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;	/*clearfix of the parent ul, due to "floating: left" of the children li's*/
	}

	/* .primary-nav li */
	/* target any list item (li) within .primary-nav div container */
	li {
		display: inline-block;	/*float each link item after each other*/
		list-style: none;		/*remove bullets*/
		padding-right: 7px;

		@mixin atMedium {
			float: left;			/*list items sit on one line instead of being placed on top of each other (default)*/
			display: block;			/*reset display for larger screens*/
			padding-right: 20px;
		}
	}

	/* .primary-nav li:last-child */
    /* target the last li element */
	li:last-child {
		padding-right: 0;			/*remove right padding for the last menu item*/
        @mixin atMedium  {
			padding-right: 20px;	/*reset for medium+*/
		}
	}

	/* .primary-nav a */
	/* target any link (a) within .primary-nav div container */
	a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;	/*remove underline*/
		display: block;			/*block element to enlarge vertical link area within the li container*/
		padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .5);

		@mixin atMedium {
			font-size: 1rem;
			padding: 12px 0;		/*top and bottom padding to center the navigation text within the header*/
			background-color: transparent;
		}
	}
}
