/*
Section Title BEM Block
*/
.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;	/*60px/16px=3.75rem*/
	}

	/* .section-title strong */
	strong {
		font-weight: 500;
	}

	/* .section-title--blue */
	&--blue {
		color: $mainBlue;
	}

	/* .section-title__icon */
	&__icon {
		display: block;				/*transform from inline to block > take the element out of the normal flow*/
		margin: 0 auto .6rem auto;	/*position icon: top 0, horizontally centered, bottom .6rem*/

		@mixin atSmall {
			position: relative;		/*relative to its normal position*/
			display: inline-block;	/*avoid dropping the following title text to the next line (override display: block)*/
			top: 8px;				/*push icon down*/
			margin: 0 .5rem 0 0;	/*reset mobile margins - add right white space on larger devices*/
		}
	}
}
