/*
Site Header BEM Block
*/
.site-header {
	/*position: absolute to the ancestor tag
	-> takes the header out of the normal page flow.
	-> Content slides up to the top*/
    position: absolute;
    padding: 10px 0		/*vertical padding of the header*/;
    width: 100%;		/*full width header*/
    z-index: 2;			/*set on top of the large-hero container*/
    transition: background-color .3s ease-out; /*fade header when clicking the button. default mode = linear*/

    /* .site-header--is-expanded*/
    /* toggled class by MobileMenu.js when clicking the button */
    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }

    @mixin atMedium {
        background-color: rgba($mainBlue, .3);	/*convert $mainBlue into rgb values, using the postcss-hexrgba plugin*/
    }

	/* .site-header__btn-container */
    &__btn-container {
        @mixin atMedium {
            float: right;	/*position/float the button container to the right*/
        }
    }


	/* .site-header__logo */
    &__logo {
        background-color: $mainBlue;
        padding: 13px 29px;

        /*vertical positioning*/
        position: absolute;
        top: 0;

		/*horizontally centered*/
        left: 50%;						        /*push logo to the right (50% of the parent container div)...*/
        transform: translateX(-50%) scale(.8);	/* ...and pull it back by 50% of its own element width; scale to 80%*/
        /*transform-origin:
        Due to transform scale(): set vertical origin to top edge of the image (=0) to avoid white space above the logo,
        which appears due to the centered scaling.
        Default origin: 50% 50% = centered*/
        transform-origin: 50% 0;

		/*left aligned on larger screens*/
        @mixin atMedium {
			/*reset mobile styles above*/
            left: auto;					/*reset left*/
            transform: translateX(0);	/*reset transform*/
            padding: 25px 36px;
        }
    }

	/* .site-header__logo-seotext */
    /*&__logo-seotext {
		position: absolute;		!*position absolute to its parent tag (.site-header__logo)*!
		text-indent: -9999px;	!*pull seo text out of the visible area*!
	}*/

	/* .site-header__menu-icon */
	&__menu-icon {
        width: 20px;
        height: 20px;
        background-color: #FFF;

		/*positioning the mobile menu icon*/
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;            /*icon must be always on top to be visible and it can be clicked*/

        @mixin atMedium {
            display: none;	/*hide the mobile menu icon on larger screens*/
        }
    }

	/* .site-header__menu-content */
    &__menu-content {
        /*display: none;		!*hide the text menu content on mobile...*!*/
        opacity: 0;         /*not visible = initial state*/
        transform: scale(1.2);          /*increased size for mobile for the zoom-in fade effect*/
        transition: all .3s ease-out;   /*fade all properties (not only opacity) of the menu content*/
        position: relative; /*required for z-index change*/
        z-index: -10;       /*prevent user from clicking on invisible item*/
        padding-top: 90px; /*push menu content below the logo on mobile*/
        text-align: center;

        @mixin atMedium {
            /*display: block;	!*...but display the menu on larger screens*!*/
            opacity: 1;     /*reset to fully visible*/
            z-index: 1;     /*reset value form mobile*/
            padding-top: 0; /*reset padding for larger screens*/
            transform: scale(1);    /*reset for larger screens*/
        }

        /* .site-header__menu-content--is-visible */
        &--is-visible {
            /*display: block;     !*display menu content, if toggled by a click (MobileMenu.js)*!*/
            opacity: 1;             /*override from above*/
            z-index: 1;             /*reset z-index form above*/
            transform: scale(1);    /*reset from above*/
        }
    }
}

