/*
Site Header BEM Block
*/
.site-header {
	/*position: absolute to the ancestor tag
	-> takes the header out of the normal page flow.
	-> Content slides up to the top*/
    position: absolute;
    padding: 10px 0		/*vertical padding of the header*/;
    width: 100%;		/*full width header*/
    z-index: 2;			/*set on top of the large-hero container*/
    transition: background-color .3s ease-out; /*fade header when clicking the button. default mode = linear*/

    /* .site-header--is-expanded*/
    /* toggled class by MobileMenu.js when clicking the button */
    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }

    @mixin atMedium {
        position: fixed;
        background-color: rgba($mainBlue, .3);	/*convert $mainBlue into rgb values, using the postcss-hexrgba plugin*/

        &--dark {
            background-color: rgba(23, 51, 72, .85);
        }
    }

	/* .site-header__btn-container */
    &__btn-container {
        @mixin atMedium {
            float: right;	/*position/float the button container to the right*/
        }
    }


	/* .site-header__logo */
    &__logo {
        background-color: $mainBlue;
        padding: 13px 29px;

        /*vertical positioning*/
        position: absolute;
        top: 0;

		/*horizontally centered*/
        left: 50%;						        /*push logo to the right (50% of the parent container div)...*/
        transition: transform .3s ease-out;
        transform: translateX(-50%) scale(.8);	/* ...and pull it back by 50% of its own element width; scale to 80%*/
        /*transform-origin:
        Due to transform scale(): set vertical origin to top edge of the image (=0) to avoid white space above the logo,
        which appears due to the centered scaling.
        Default origin: 50% 50% = centered*/
        transform-origin: 50% 0;

		/*left aligned on larger screens*/
        @mixin atMedium {
			/*reset mobile styles above*/
            left: auto;					/*reset left*/
            transform: translateX(0);	/*reset transform*/
            padding: 25px 36px;

           /* .site-header--dark .site-header__logo */
            /*when .site-header__logo is descendent of .site-header--dark*/
            .site-header--dark & {
                transform: scale(.55);
            }
        }
    }

	/* .site-header__logo-seotext */
    /*&__logo-seotext {
		position: absolute;		!*position absolute to its parent tag (.site-header__logo)*!
		text-indent: -9999px;	!*pull seo text out of the visible area*!
	}*/

	/* .site-header__menu-icon */
	&__menu-icon {
        width: 20px;
        height: 19px; /* 3*3px (bar height) + 2*5px (gap) = 19px */

		/*positioning the mobile menu icon*/
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;            /*icon must be always on top to be visible and it can be clicked*/

        /* .site-header__menu-icon::before */
        /* pseudo element before */
        /* The Before pseudo element creates a pseudo-element before the first child of the selected element,
        Simply it creates an element before the content of the selected element.
        Pseudo elements have a content property which can be used to insert generated content, image or a string. */
        &::before {
            content: "";                /*create empty content, otherwise the bar won't appear*/
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 0;      /*center of x-rotation on top-left corner; default 50% 50%*/
            transition: transform .3s ease-out; /*transform animation of the top bar*/
        }

        /* .site-header__menu-icon__middle */
        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: all .3s ease-out;   /*fade-out animation of the middle bar*/
            transform-origin: 0 50%;        /*shrinking animation initiation form the left-center origin*/
        }

        /* .site-header__menu-icon::after */
        /* pseudo element after */
        /* The after pseudo element is quite similar to the before, the only difference is its positioning
        which is after the last child of the selected element / after the content of the selected parent element.*/
        &::after {
            content: "";                /*create empty content, otherwise the bar won't appear*/
            position: absolute;
            top: 16px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 100%;      /*center of X-rotation on bottom-left corner; default 50% 50%*/
            transition: transform .3s ease-out; /*transform animation of the bottom bar*/

        }

        @mixin atMedium {
            display: none;	/*hide the mobile menu icon on larger screens*/
        }

        /* .site-header__menu-icon--close-x */
        &--close-x {

            /* .site-header__menu-icon--close-x::before */
            &::before {
                /*scale width of the top hamburger bar, but not the height*/
                transform: rotate(45deg) scaleX(1.25);
            }

            .site-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }

            /* .site-header__menu-icon--close-x::before */
            &::after {
                /*scale width of the top hamburger bar, but not the height
                translateY: push the bar down for 1px, as it's slightly too high after rotation*/
                transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            }
        }
    }

	/* .site-header__menu-content */
    &__menu-content {
        /*display: none;		!*hide the text menu content on mobile...*!*/
        opacity: 0;         /*not visible = initial state - for transform/transition > required instead of display: none*/
        transform: scale(1.2);          /*increased size for mobile for the zoom-in fade effect*/
        transition: all .3s ease-out;   /*fade all properties (not only opacity) of the menu content*/
        position: relative; /*required for z-index change*/
        z-index: -10;       /*prevent user from clicking on invisible item*/
        padding-top: 90px; /*push menu content below the logo on mobile*/
        text-align: center;

        @mixin atMedium {
            /*display: block;	!*...but display the menu on larger screens*!*/
            opacity: 1;     /*reset to fully visible*/
            z-index: 1;     /*reset value form mobile*/
            padding-top: 0; /*reset padding for larger screens*/
            transform: scale(1);    /*reset for larger screens*/
        }

        /* .site-header__menu-content--is-visible */
        &--is-visible {
            /*display: block;     !*display menu content, if toggled by a click (MobileMenu.js)*!*/
            opacity: 1;             /*override from above*/
            z-index: 1;             /*reset z-index form above*/
            transform: scale(1);    /*reset from above*/
        }
    }
}

