.wrapper {

	overflow: hidden; /* hide overflow of negative row right-padding */
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px; /* =1200px + 2*18px of padding */
	margin-left: auto;
	margin-right: auto;

	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;

		@mixin atLarge {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	/* remove double padding in any wrapper inside a wrapper */
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--medium {
		max-width: 976px;
	}

	&--b-margin {
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}

}
